@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    /*font-size: 70px;*/
    font-weight: 400;
    color: #222;
    text-decoration: none;
    list-style: none;
}
body{
    background: #f2f4f5;
}
h4{
    margin: 0;
    padding: 0;
}
/*清楚浮动*/
.clear{
    width: 0;
    height: 0;
    clear: both;
}

/*main*/
#baidu{
    width: 100%;
    overflow: hidden;
}
#header{
    width: 100%;
    background: url("https://gss0.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/nuomi/pic/item/503d269759ee3d6d3aa4091849166d224e4ade87.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 22%;
}
.hd_box1{
    width: 100%;
    padding: 0 4%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.hd_top{
    width: 100%;
    padding: 3% 2% 4%;
    font-size: 4vw;
    overflow: hidden;
}
.hd_top span{
    display: block;
    float: left;
    width: 50%;
}
.hd_top_color1{
    color: #fff;
}
#user{
    text-align: right;
}
/*搜索框*/
.search{
    position: absolute;
    top:100%;
    left: 5%;
    padding-right: 10%;
    width: 100%;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-property: top,transform,left;
}
.abso{
    top: 8%;
    left: 8%;
    transform: scale(0.7,0.8);
}
.btn_search{
    width: 100%;
    background: #fff;
    border-radius: 150px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding : 3% 0 2%;
}
.btn_text{
    display: table;
    margin: auto;
}
.btn_text i,.btn_text span{
    font-size: 4vw;
    color: rgba(0,0,0,0.4);
}

/*事件样式*/
.hd_box1_bg{
    background:rgba(255,255,255,0.9);
}
.hd_top_color2{
    color: #333;
}
.btn_search_bg{
    background: #f0f0f0;
    opacity: 0.8;
}



/*<!--顶部分类导航-->*/
.hd_nav{
    width: 100%;
    padding: 8% 0 4%;
}
.hd_nav ul{
    width: 100%;
    margin-bottom: 3%;
}
.hd_nav ul li{
    float: left;
    width: 20%;
}
.hd_nav ul li a{
    display: block;
    text-align: center;
    font-size: 3vw;
    text-decoration: none;
}
.hd_nav ul li a:active{
    opacity: 0.5;
}
.hd_nav ul li a img{
    height: 11vw;
}
.hd_nav ul li a span{
    display: block;
    color: #fff;
    padding-top: 8%;
}

/*页面内容*/
#main{
    width: 100%;
}
/*小轮播*/
.plate1{
    width: 100%;
    height: 83px;
    margin-bottom: 10px;
}
.plate1_dis{
    width: 100%;
    padding: 0 5%;
    height: 83px;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.img_main{
    width: 90%;
    position: absolute;
    top: 0;
}
.img_main li{
    width: 100%;
    padding: 15px 0;
    height: 83px;
}
.img_main li a{
    display: block;
    height: 53px;
    text-decoration: none;
    position: relative;
 }
.img_position{
    width: 53px;
    height: 53px;
    position: absolute;
}
.img_lunbo2{
    width: 53px;
    height: 53px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 53px;
    font-size: 25px;
    color: rgba(0,0,0,0.7);
}
.img1{
    background: url("https://ss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/lbs/pic/item/aa18972bd40735fa97cd1ecd92510fb30f240880.jpg")no-repeat;
    background-size: cover;
}
.img2{
    background: url("https://gss0.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/lbs/pic/item/cf1b9d16fdfaaf518c55b1b5805494eef01f7a01.jpg")no-repeat;
    background-size: cover;
}
.img3{
    background: url("https://ss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/lbs/pic/item/42166d224f4a20a4f79e74d89c529822720ed029.jpg")no-repeat;
    background-size: cover;
}
.img4{
    background: url("https://gss0.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/lbs/pic/item/6609c93d70cf3bc7a89085f3dd00baa1cd112a18.jpg")no-repeat;
    background-size: cover;
}
.text_lunbo{
    height: 53px;
    margin-left: 60px;
    margin-right: 50px;
}
.text_lunbo p{
    margin: 0;
    padding: 6px 0 0 0 ;
    font-size: 13px;
}
.text_lunbo span{
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}
.text_line{
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #000;
}

/*<!--六个活动-->*/
.plate2{
    width: 100%;
    margin-bottom: 10px;
}
.six_box{
    float: left;
    width: 50%;
    padding-right: 1px;
}
.six_box_1{
    width: 100%;
    height: 83px;
    background: #fff;
    padding: 25px 4% 15px 10%;
    margin-bottom: 1px;
    box-sizing: border-box;
    position: relative;
}
.six_box_1 .img_position{
    right: 4%;
    top: 15px;
}
.text_six_box span{
    font-size: 12px;
}
.img_position2{
    width: 83px;
    height: 83px;
    position: absolute;
    top: 0;
    right: 4%;
}
.img_position2 img{
    width: 83px;
    height: 83px;
}

/*<!--拖拽图-->*/
.Drag_img{
    width: 100%;
    height: 26vw;
    background: #fff;
    padding: 1.5vw 5% 0;
    margin-bottom: 10px;
}
.ul_Drag_img{
    width: 5000px;
    height: 100%;
    position: relative;
    left: 0;
}
.ul_Drag_img li{
    float: left;
    width: 31vw;
    height: 23vw;
    padding-right: 1vw;
}
.ul_Drag_img li a{
    width: 30vw;
    height: 23vw;
}
.ul_Drag_img li a img{
    width: 30vw;
    height: 23vw;
}


/*<!--广告位轮播-->*/
.plate3{
    width: 100%;
    height: 26vw;
    background: #fff;
    margin-bottom: 10px;
}
.plate3 ul{
    width: 100%;
    height: 100%;
    padding: 1vw 0;
    position: relative;
}
.plate3 ul li{
    width: 100%;
    height: 24vw;
    padding: 0 5%;
    position: absolute;
    opacity: 0;
}
.plate3 ul li:first-child{
    opacity: 1;
}
.plate3 ul li a img{
    width: 100%;
    height: 100%;
}
.z-in{
    z-index: 10;
}


/*猜你喜欢*/
.plate4{
    width: 100%;
    background: #fff;
}
.plate4 hr{
    margin: 0;
    padding: 0;
}
.like_text{
    width: 100%;
    text-align: center;
    line-height: 48px;
}
.like_text span{
    font-size: 18px;
    color: #333;
}
.like_text span:before{
    content: "❦";
    color: #ff3916;
    margin-right: 10px;
}
.like_text span:after{
     content: "❦";
     color: #ff3916;
     margin-left: 10px;
}
.like_plate{
    width: 100%;
    padding: 0 5%;
}
.like_plate a{
    display: block;
    text-decoration: none;
}
.like_plate h4{
    margin-top: 20px;
    color: #333;
}
.l_p{
    line-height: 30px;
}
.local{
    color: rgba(0,0,0,0.5);
}
.price{
    float: right;
    font-size: 18px;
}
.price:before{
    content: '¥';
    font-size: 12px;
    display: inline-block;
    margin-right: 2px;
}
.price:after{
    content: '/人';
    font-size: 12px;
}
.like_img{
    width: 100%;
    height: 26vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.like_img li{
    width: 32%;
    margin-right: 6px;
}
.like_img li img{
    width: 100%;
    height: 100%;
}
.foottext{
    display: inline-block;
    font-size: 12px;
    color: #bf974d;
    margin-top: 11px;
    margin-bottom: 20px;
}
.like_plate .aa{
    width: 100%;
    height: 200px;
    margin: 10px 0;
}
.like_plate .aa img{
    width: 100%;
    height: 100%;
}

/*页脚*/
.main_foot{
    line-height: 50px;
    text-align: center;
    background: #fff;
}
.main_foot span{
    font-size: 13px;
    color: rgba(0,0,0,0.4);
}

/*footer*/
.over{
    text-align: center;
}
.over span{
    display: block;
}
.over span:first-child{
    margin: 5px 0 0 0;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}
.over span:last-child{
    margin: 0 0 5px 0;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}


/*回到顶部*/
.Gtop{
    width: 60px;
    height: 60px;
    background: rgba(200,200,200,0.7);
    position: fixed;
    right: 30px;
    top: 80%;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    display: none;
}